
  <head>
    <style type="text/css">
  table.my-grid {
  }
  table.my-grid th.my-header {
    background-color: #ebebeb;
  }
  table.my-grid tr.even{
    background-color: #ebebeb;
  }
</style>
<script type="text/javascript">  
    floatingMenu.add('floatdiv',  
        {  
            targetLeft: 10,  
            targetTop: 10,  
        });  
</script> 
  </head>

  <h1 align="center"><%= @guild.name %>    -   <%= @guild.realm %>   -  <%= pluralize(Item.where("of_guild_id = #{params[:id]}").count,"item")%></h1><br>
</div>
<div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2" id="floatdiv">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Listing items for <%= @guild.name %>
                
                </a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left
")+" Back", guild_path(@guild) ,class: 'list-group-item' %></a>
          </div> 
          <div class="bs-callout bs-callout-info">
            <%= render 'ad.html.erb' %>
          </div>       
      </ul>
  </div>
</div>


<div class="col-md-10">
<%= javascript_include_tag 'jabbithole_tooltips.js' %>
<script>JH_options = { colors: true, names: true, whitebg: true, preload: true, zIndex: null };</script>
    <%= grid(@items_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

      g.column name:  'Item name' do |item|
      get_small_icon(item.ingame_id) + " " + link_to(item.ingame_id, "http://www.jabbithole.com/items/i-#{item.ingame_id}")
      end

      if not @guild.mode == "Armory" then
        g.column  name:  'GP', attribute: 'gp_cost' , auto_reload: false do |item|
          if item.gp_cost then item.gp_cost else "--" end
        end     
      end       

      g.column name: 'Looter' , attribute: 'name' , model: 'GuildMember' , auto_reload: false  do |item|
        if @itemHash[item.timestamp] then
        link_to(@guild.guild_members.find(@itemHash[item.timestamp]).name, guild_guild_member_items_path(@guild.id , @guild.guild_members.find(@itemHash[item.timestamp]).id))
        end 
      end

      g.column  name:  'Looted on' , attribute: 'timestamp' , filter: false do |item|
        Time.at(item.timestamp.to_i).strftime('%d/%m/%Y , %T')        
      end
    end -%>
</div>
