













<div class="container">
  <div align="center"><h1>New guild</h1></div>


  <%= simple_form_for(@guild, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name %>
    <%= f.input :owner %>
    <%= f.label :realm %>
    <%= f.select(:realm,[['',''] , ['Jabbit', 'Jabbit'], ['Luminai', 'Luminai'], ['Entity', 'Entity'], ['Warhound', 'Warhound']], {}, { :class => 'form-control' }) %>
    <div align="center">
    <br><br>

    <%= f.button :submit , class: 'btn btn-info' %>
    </div>
  <% end %>


</div>
