    <style type="text/css">
  table.my-grid {
  }
  table.my-grid th.my-header {
    background-color: #ebebeb;
  }
  table.my-grid tr.even{
    background-color: #ebebeb;
  }
</style>
<div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2">
              <br><br>
              <br><br>
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Recent activity for <%= @guild.name %>
                </a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left")+" Back", guild_path(@guild) ,class: 'list-group-item' %></a>
              </div> 
              <div align="center">  
              <%= form_tag({controller: "guilds", action: "update_settings"}, method: "post") do %>
                <h3>Settings</h3>
                <%= label_tag(:max_ev, 'Maximum events')%>
                <%= text_field_tag(:max_ev, @guild.max_events ,class: "form-control")%>
                <%= label_tag(:max_aff, 'Minimum affected')%>
                <%= text_field_tag(:min_aff, @guild.min_affected ,class: "form-control")%>
                <br>
                <%= submit_tag("Submit" , class: "btn btn-primary") %></br>
              <% end %>
              </div>         
          </ul>
      </div>
</div>

<div class="col-md-10">
      <%= high_chart("my_id4", @chart) do |c| %>
          <%= raw "options.tooltip.formatter = function() {if(this.series.name == 'Affected'){return this.point.category + '<br><b>'+ this.point.event +'</b>: Affected '+ this.y +' players.';}else{return this.point.category + '<br><b>'+ this.point.event +'</b>: All players gained '+ this.y +' EP.';}}"  %>
          <%= raw "options.plotOptions.series.point.events.click = function(e) {window.location.href ='http://' + window.location.host + '/guilds/' + #{params[:id]} + '/recent_activity?event=' + this.time;}" %>
     <% end %>

<% if params[:event] %>
      <%= grid(@members_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 75px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end

            g.column name:  'Name', attribute: 'name' , auto_reload: false  do |task|
              task.name
            end

            g.column  name:  'EP', attribute: 'ep', auto_reload: false do |task|
              task.ep
            end

            g.column  name:  'GP', attribute: 'gp', auto_reload: false do |task|
              task.gp
            end            

            g.column  name:  'PR' , attribute: 'pr', auto_reload: false do |task|
              [task.pr, {style: 'background-color: #F8FFD1;'}]  
            end
            
            g.column  name:  'Details' , html: {style: 'max-width: 40px'} do |task|
              content_tag(:div,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-default'),:align => "center")
            end
          end %>
<% end %>

</div>