<% if not authorized?(@guild.id) %>
<script type="text/javascript">
    window.location.href= "<%= "/guilds/#{params[:id]}" %>" 
</script>
<% end %>


  <div id="wrapper">
    <div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Controls
                </a>
                <% if current_user and User.find_by_email(current_user.email).guild_id and User.find_by_email(current_user.email).guild_id == @guild.id %>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-ok")+" Commit", commit_all_guild_path(@guild), class: 'list-group-item', method: :commit_all %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-remove")+" Discard all changes", undo_all_guild_path(@guild), class: 'list-group-item' ,method: :undo_all, data: { confirm: 'Are you sure?' } %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left")+" Back", guild_path(@guild) ,class: 'list-group-item' %></a>
                <% end %>
              </div>
              <div class="panel panel-primary">
                  <div class="panel-heading">
                    Advertisement
                  </div>
                  <div class="panel-body" align="center">
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"Drutol","width":250,"height":"auto","sid":"Chitika Default","fluidH":true};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
                  <br>
                  FunFact: Did you know that users who block ads have their <%= if @guild.mode == "EPGP" then "PR" else "DKP" end %> reduced?
                  </div>
              </div>      
          </ul>
    <div class="col-md-10">
        <% if @guild.mode == "EPGP" %>

          <%= grid(@members_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 75px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              #if task.edit_flag then
              #[content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center"),{style: 'background-color: #EDBD2B;'}] if task.str_class
              #else
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
              #end
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end

            g.column name:  'Name', attribute: 'name' , auto_reload: false  do |task|
              task.name
            end

            g.column  name:  'EP', attribute: 'ep', auto_reload: false do |task|
              content_tag(:p,"Now: " + task.ep.to_s) + " " + content_tag(:p,"Prev: " + GuildMember.find(task.edit_flag).ep.to_s)
            end

            g.column  name:  'GP', attribute: 'gp', auto_reload: false do |task|
              content_tag(:p,"Now: " + task.gp.to_s) + " " + content_tag(:p,"Prev: " + GuildMember.find(task.edit_flag).gp.to_s)
            end            

            g.column  name:  'PR' , attribute: 'pr', auto_reload: false do |task|
              [content_tag(:p,"Now: " + task.pr.to_s) + " " + content_tag(:p,"Prev: " + GuildMember.find(task.edit_flag).pr.to_s), {style: 'background-color: #F8FFD1;'}]  
            end
            
            g.column  name:  'Details' , html: {style: 'max-width: 80px'} do |task|
              content_tag(:p,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-primary',:style => "display:inline") + "  " + (link_to "Edit" , edit_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-warning',:style => "display:inline"),:align => "center")       
            end

            g.column  name:  'Modified' , attribute: 'edit_flag', filter: false , html: {style: 'max-width: 80px'} do |task|
              if task.edit_flag then 
                content_tag(:p,(link_to "Undo" , undo_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-danger',:style => "display:inline",method: :undo) + "  " + (link_to "Commit" , commit_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-info',:style => "display:inline",method: :commit),:align => "center") 
              end
            end
          end -%>
        <% else %>
          <%= grid(@members_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 75px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end

            g.column name:  'Name', attribute: 'name' , auto_reload: false  do |task|
              task.name
            end

            g.column  name:  'Net', attribute: 'net', auto_reload: false do |task|
              [content_tag(:p,"Now: " + task.net.to_s) + " " + content_tag(:p,"Prev: " + GuildMember.find(task.edit_flag).net.to_s)  ,{style: 'background-color: #F8FFD1;'}]
            end

            g.column  name:  'Total', attribute: 'tot', auto_reload: false do |task|
              task.tot
            end            

            g.column  name:  'Details' , html: {style: 'max-width: 80px'} do |task|
              content_tag(:p,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-primary',:style => "display:inline") + "  " + (link_to "Edit" , edit_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-warning',:style => "display:inline"),:align => "center")       
            end

            g.column  name:  'Modified' , attribute: 'edit_flag', filter: false , html: {style: 'max-width: 80px'} do |task|
              if task.edit_flag then 
                content_tag(:p,(link_to "Undo" , undo_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-danger',:style => "display:inline",method: :undo) + "  " + (link_to "Commit" , commit_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-info',:style => "display:inline",method: :commit),:align => "center") 
              end
            end
          end -%>




        <% end %>
    </div>