<!DOCTYPE html>
  <body>

  <div id="wrapper">
    <div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Controls
                </a>
                <% if current_user and User.find_by_email(current_user.email).guild_id and User.find_by_email(current_user.email).guild_id == @guild.id %>
                <a><%= link_to 'Edit', edit_guild_path(@guild), class: 'list-group-item' %></a>
                <a><%= link_to 'Delete', guild_path(@guild), class: 'list-group-item' ,method: :delete, data: { confirm: 'Are you sure?' } %></a>
                <a><%= link_to 'Upload Data', upload_guild_path, class: 'list-group-item' %></a>
                <a><%= link_to 'Download Data', download_guild_path, class: 'list-group-item' %></a>
                <% end %>
                <a><%= link_to 'All items', items_all_guild_path(@guild) ,class: 'list-group-item' %></a>
                <a><%= link_to 'Back', guilds_path ,class: 'list-group-item' %></a>

              </div>         
          </ul>
      </div>
    </div>


    <div class="col-md-10">
        <%# show_filters: :when_filtered %>

          <%= grid(@members_grid) do |g|

            g.column name:  'ID' , ordering: false do |task|
              task.id
            end

            g.column name:  'Class' , attribute: 'strClass' , html: {style: 'max-width: 75px'}  do |task|
              image_tag "Icon#{task.strClass}.png" , :height => "50px" , :width => "50px" , :align => "middle" if task.strClass

            end

            g.column name:  'Name', attribute: 'name'  do |task|
              task.name
            end

            g.column  name:  'EP', attribute: 'ep' do |task|
              task.ep
            end

            g.column  name:  'GP', attribute: 'gp' do |task|
              task.gp
            end            

            g.column  name:  'PR' , attribute: 'pr' do |task|
              [task.pr, {style: 'background-color: rgb(199, 196, 255);'}]  
            end
            
            g.column  name:  'Details' do |task|
              link_to 'More' , guild_guild_member_items_path(@guild.id,task.id)
            end
          end -%>
    </div>
     
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>