<!DOCTYPE html>
  <head>
    <style type="text/css">
  table.my-grid {
  }
  table.my-grid th.my-header {
    background-color: #ebebeb;
  }
  table.my-grid tr.even{
    background-color: #ebebeb;
  }
</style>

  </head>

  <body>

  <h1 align="center"><%= @guild.name %>    -   <%= @guild.realm %>   -  <%= pluralize(GuildMember.where("guild_id = #{params[:id]}").count,"member")%></h1><br>

  <div id="wrapper">
    <div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Controls
                </a>
                <% if authorized?(@guild.id) %>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-pencil")+" Edit", edit_guild_path(@guild), class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-wrench")+" Settings", settings_guild_path(@guild), class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-cloud-upload")+" Upload Data", upload_guild_path, class: 'list-group-item' %> </a>
                <% end %>

                <% if @guild.guild_members.count > 0 %>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-cloud-download")+" Download Data", download_guild_path, class: 'list-group-item' %></a>
                <% end %>
                <% if logged_in? and not authorized?(@guild.id) %>
                  <a><%= link_to content_tag(:p , '  ' , :class => "glyphicon glyphicon-adjust")+"#{if @guild.ass_app and @guild.ass_app.include?(current_user.email) then "  Awaiting response - click to remove application." else "Apply for assistant" end}", assistant_apply_guild_path(@guild) ,class: 'list-group-item',:method=> :post %></a>
                <% end %>
                <% if authorized_full?(@guild.id) and @guild.ass_app %>
                  <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-remove")+" Delete", guild_path(@guild), class: 'list-group-item' ,method: :delete, data: { confirm: 'Are you sure?' } %></a>
                  <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-user")+" Review assistants"  , ass_applications_guild_path(@guild) ,class: 'list-group-item'%></a>
                <% end %>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-eye-open")+" All items", items_all_guild_path(@guild) ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-briefcase")+" Attendance", attendance_guild_path(@guild) ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-stats")+" Raids", raids_guild_path(@guild) ,class: 'list-group-item' %></a>
                <% if @edited.count > 0 %>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-edit")+" Commit changes (#{@edited.count})", review_changes_guild_path(@guild),class: 'list-group-item' %></a>
                <% end %>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-road")+" Recent Activity", recent_activity_guild_path(@guild) ,class: 'list-group-item' %></a>                
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left")+" Back", guilds_path ,class: 'list-group-item' %></a>
    
              </div>  
                        <div class="panel panel-primary">
                  <div class="panel-heading">
                    Roster Statistics
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div style="font-size: 20pt"><%=image_tag("IconEsper.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>    -    <%= GuildMember.where("guild_id = #{params[:id]} and str_class = 'Esper' and edit_flag IS NULL").count %></div>
                        <div style="font-size: 20pt">
                        <%=image_tag("IconWarrior.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>    -    <%= GuildMember.where("guild_id = #{params[:id]} and str_class = 'Warrior' and edit_flag IS NULL").count%></div>
                        <div style="font-size: 20pt"><%=image_tag("IconStalker.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>    -    <%= GuildMember.where("guild_id = #{params[:id]} and str_class = 'Stalker' and edit_flag IS NULL").count %></div>
                        <div style="font-size: 20pt"><%=image_tag("IconEngineer.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>    -    <%= GuildMember.where("guild_id = #{params[:id]} and str_class = 'Engineer' and edit_flag IS NULL").count %></div>
                        <div style="font-size: 20pt"><%=image_tag("IconMedic.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>    -    <%= GuildMember.where("guild_id = #{params[:id]} and str_class = 'Medic' and edit_flag IS NULL").count %></div>
                        <div style="font-size: 20pt"><%=image_tag("IconSpellslinger.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>    -    <%= GuildMember.where("guild_id = #{params[:id]} and str_class = 'Spellslinger' and edit_flag IS NULL").count %></div>
                        </div>
                        <div class="col-lg-6">
                            <div style="font-size: 20pt"><%=image_tag("DPS.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>     -   <%= GuildMember.where("guild_id = #{params[:id]} and str_role = 'DPS' and edit_flag IS NULL").count %></div>
                            <div style="font-size: 20pt">
                           <%=image_tag("Heal.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>     -   <%= GuildMember.where("guild_id = #{params[:id]} and str_role = 'Heal' and edit_flag IS NULL").count %></div>
                           <div style="font-size: 20pt">
                           <%=image_tag("Tank.png" , :height => "50px" , :width => "50px" , :align => "middle" ) %>     -   <%= GuildMember.where("guild_id = #{params[:id]} and str_role = 'Tank' and edit_flag IS NULL").count %> </div>

                        </div>
                      </div>
                  </div>
          </div>    
          </ul>


      </div>

    </div>


    <div class="col-md-10">
        <% if @guild.mode == "EPGP" %>

          <%= grid(@members_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 75px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              #if task.edit_flag then
              #[content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center"),{style: 'background-color: #EDBD2B;'}] if task.str_class
              #else
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
              #end
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end

            g.column name:  'Name', attribute: 'name' , auto_reload: false  do |task|
              task.name
            end

            g.column  name:  'EP', attribute: 'ep', auto_reload: false do |task|
              task.ep
            end

            g.column  name:  'GP', attribute: 'gp', auto_reload: false do |task|
              task.gp
            end            

            g.column  name:  'PR' , attribute: 'pr', auto_reload: false do |task|
              [task.pr, {style: 'background-color: #F8FFD1;'}]  
            end
            size = ''
            
            if authorized?(@guild.id) then size = '80px' else size = '40px' end
            g.column  name:  'Details' , html: {style: "max-width:#{size}"} do |task|
              if authorized?(@guild.id) then
              content_tag(:p,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-primary',:style => "display:inline") + "  " + (link_to "Edit" , edit_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-warning',:style => "display:inline"),:align => "center")
              else
              content_tag(:p,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-primary',:style => "display:inline"))
              end        
            end

            if @edited.count > 0 and current_user and User.find_by_email(current_user.email).guild_id and User.find_by_email(current_user.email).guild_id == @guild.id then
              g.column  name:  'Modified' , attribute: 'edit_flag', filter: false , html: {style: 'max-width: 40px'} do |task|
                if task.edit_flag then 
                  content_tag(:p,(link_to "Undo" , undo_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-danger',:style => "display:inline",method: :undo))
                end
              end
            end
          end -%>
        <% else %>
          <%= grid(@members_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

            g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

            g.column name:  'Class' , attribute: 'str_class' , html: {style: 'max-width: 75px'} ,  custom_filter: [['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']]  do |task|
              content_tag(:div ,image_tag("Icon#{task.str_class}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_class
            end            

            g.column name:  'Role' , attribute: 'str_role' , html: {style: 'max-width: 50px'} , custom_filter: [['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']] do |task|
              content_tag(:div ,image_tag("#{task.str_role}.png" , :height => "40px" , :width => "40px" , :align => "middle" ),:align => "center") if task.str_role
            end

            g.column name:  'Name', attribute: 'name' , auto_reload: false  do |task|
              task.name
            end

            g.column  name:  'Net', attribute: 'net', auto_reload: false do |task|
              [task.net, {style: 'background-color: #F8FFD1;'}]  
            end

            g.column  name:  'Total', attribute: 'tot', auto_reload: false do |task|
              task.tot
            end            

            if authorized?(@guild.id) then size = '80px' else size = '40px' end
            g.column  name:  'Details' , html: {style: "max-width:#{size}"} do |task|
              if authorized?(@guild.id) then
              content_tag(:p,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-primary',:style => "display:inline") + "  " + (link_to "Edit" , edit_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-warning',:style => "display:inline"),:align => "center")
              else
              content_tag(:p,(link_to "More" , guild_guild_member_items_path(@guild.id,task.id) , class: 'btn btn-primary',:style => "display:inline"))
              end        
            end

            if @edited.count > 0 and current_user and User.find_by_email(current_user.email).guild_id and User.find_by_email(current_user.email).guild_id == @guild.id then
              g.column  name:  'Modified' , attribute: 'edit_flag', filter: false , html: {style: 'max-width: 40px'} do |task|
                if task.edit_flag then 
                  content_tag(:p,(link_to "Undo" , undo_guild_guild_member_path(@guild.id,task.id) , class: 'btn btn-danger',:style => "display:inline",method: :undo))
                end
              end
            end
          end -%>




        <% end %>
    </div>
     
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>