<% if not authorized?(@guild.id) %>
<script type="text/javascript">
    window.location.href= "<%= "/guilds/#{params[:guild_id]}" %>" 
</script>
<% else %>
  <div class="col-lg-12">
   <div align="center">  
          <%= form_tag({controller: "guilds", action: "import"}, method: "post") do %>
            <h1>Input export data:</h1>
            <%= text_area_tag(:json, nil ,class: "form-control",:size => "30x10")%>
            <br>
            <div>
            <%= button_tag class: 'btn lg btn-info' , :style => "display:inline" do %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Import 
            <% end %>
                  <%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left")+" Back", guild_path(@guild), class: ' btn lg btn-primary' ,:style => "display:inline" %>
            <div>
          <% end %> 
          <br>
    </div>
  </div>
<% end %>
