<ul class="col-md-2" id ="floatdiv">
    <div class="list-group">
      <a href="#" class="list-group-item active fixed">
        About
      </a>      
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-book")+" Wiki", index_wiki_path ,class: 'list-group-item' %></a>
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-info-sign")+" General info", index_about_path ,class: 'list-group-item' %></a>
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-cloud-upload")+" Uploading data", index_uploading_path ,class: 'list-group-item' %></a>
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-asterisk")+" Credits", index_credits_path ,class: 'list-group-item' %></a>
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-tasks")+" Changelog", index_changelog_path ,class: 'list-group-item' %></a>
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-export")+" Using uploader", index_uploader_path ,class: 'list-group-item' %></a>

    </div>  
     <div class="bs-callout bs-callout-info" style="height:550px">
          <%= render 'ad.html.erb' %>
      </div>
</ul>