

<div class="container">
  <div class="jumbotron text-center">
    <h1>RaidOps Web</h1>
    <div class="row">
      <p class="lead">Store your Wildstar EPGP and raid data online!</p>
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-th-list")+" See all registered guilds.", guilds_path, class: 'btn-success btn-lg' %></a>    
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-plus")+" Register your guild.", new_guild_path, class: 'btn-info btn-lg' %></a>    
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-download")+" Download in-game addon.", 'http://www.curse.com/ws-addons/wildstar/224405-raidops-epgp-loot-distribution-network-bidding', class: 'btn-warning btn-lg' %></a>    
      <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-question-sign")+" What is it all about?", index_about_path, class: 'btn-primary btn-lg' %></a>
    </div>

  </div>
  
  <div class="row" align="center">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4>Features:</h4></div>
        <div class="panel-body">
          <h3>Upload data exported from addon.</h3>
          <p style="font-size:13pt">You will be able to keep it safe.</p>
          
          <h3>Keep your raid members updated!</h3>
          <p style="font-size:13pt">Anyone can check current EP and GP values , logs and items that dropped. </p>        

          <h3>Filter the roster!</h3>
          <p style="font-size:13pt">You can filter and sort by class , role , minimum PR etc.</p>          

          <h3>Edit on the fly!</h3>
          <p style="font-size:13pt">Make any changes to the guild members , save them and import in-game.</p>

          <h3>Review raid attendance</h3>
          <p style="font-size:13pt">Check who and how offen attends which raids!</p>
        </div>
      </div>
    </div>

      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Getting started:</h4></div>
          <div class="panel-body">
            <p align="left">
                <li style="font-size:13pt">Download game addon.</li>
                <li style="font-size:13pt">Populate addon with some data.</li>
                <li style="font-size:13pt">Go to addon settings and press 'Export/Import' button.</li>
                <li style="font-size:13pt">Select the radio button with 'Website Export' label.</li>
                <li style="font-size:13pt">Press 'Export/Import' button</li>
                <li style="font-size:13pt">Copy the result from the box or copy directly to clipboard.</li>
                <li style="font-size:13pt">Register <%= link_to 'new guild' , new_guild_path %>.</li>
                <li style="font-size:13pt">Go to your guild's page and press upload data button.</li>
                <li style="font-size:13pt">Paste the string and press Import button.</li>
                <li style="font-size:13pt">Wait a few seconds and you are golden!</li>
            </p>
          </div>
        </div>
     </div>

    <div class="col-lg-4" align="center">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Thanks!</h4>
        </div>
        <div class="panel-body">
          <h3>Big thanks to <%= link_to 'Jabbithole.com' , 'http://www.jabbithole.com' %> for providing item tooltips!</h3>
        </div>
        <a href="http://www.jabbithole.com/"><img src="http://www.jabbithole.com/assets/jabbithole.large-7c730b697d7b005dc5761abc18850449.png" width="90px" height="90px"></a>
        <h3>And a big thank you to <%= link_to 'Wildstar Dataminer' , 'http://wildstar.datminer.com/' %> for item tooltips too!</h3>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Donate!</h4>
        </div>
        <div class="panel-body">
          <h4>If you want to help me developing both this website and in-game addon leave me a tip! It really motivates :D</h4>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="TZVVQTZUM6G4Y">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
      </div>
    </div>
  </div> 
</div><!-- /container -->

