<script type="text/javascript">  
    floatingMenu.add('floatdiv',  
        {    
            targetLeft: 10,  
            targetTop: 10,  
        });  
</script> 
<script type="text/javascript">
(function($) {
  $.fn.btsListFilter = function(inputEl, opts) {

    'use strict';
    
    var searchlist = this,
      searchlist$ = $(this),
      inputEl$ = $(inputEl),
      items$ = searchlist$,
      callData,
      callReq;  //last callData execution

    function tmpl(str, data) {
      return str.replace(/\{ *([\w_]+) *\}/g, function (str, key) {
        return data[key] || '';
      });
    }

    function debouncer(func, timeout) {
      var timeoutID;
      timeout = timeout || 300;
      return function () {
        var scope = this , args = arguments;
        clearTimeout( timeoutID );
        timeoutID = setTimeout( function () {
          func.apply( scope , Array.prototype.slice.call( args ) );
        }, timeout);
      };
    }

    opts = $.extend({
      delay: 300,
      minLength: 1,
      initial: true,
      casesensitive: false,
      eventKey: 'keyup',
      resetOnBlur: true,
      sourceData: null,
      sourceTmpl: '<a class="list-group-item" href="#"><span>{title}</span></a>',
      sourceNode: function(data) {
        return tmpl(opts.sourceTmpl, data);
      },
      emptyNode: function(data) {
        return '<a class="list-group-item well" href="#"><span>No Results</span></a>';
      },
      itemClassTmp: 'bts-dynamic-item',
      itemEl: '.list-group-item',
      itemChild: null,
      itemFilter: function(item, val) {
        //val = val.replace(new RegExp("^[.]$|[\[\]|()*]",'g'),'');
        //val = val.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
        val = val && val.replace(new RegExp("[({[^.$*+?\\\]})]","g"),'');
        
        var text = $(item).text(),
          i = opts.initial?'^':'',
          regSearch = new RegExp(i + val, opts.casesensitive?'':'i');
        return regSearch.test( text );
      }
    }, opts);   



    inputEl$.on(opts.eventKey, debouncer(function(e) {
      
      var val = $(this).val();

      if(opts.itemEl)
        items$ = searchlist$.find(opts.itemEl);

      if(opts.itemChild)
        items$ = items$.find(opts.itemChild);

      var contains = items$.filter(function(){
          return opts.itemFilter.call(searchlist, this, val);
        }),
        containsNot = items$.not(contains);

      if (opts.itemChild){
        contains = contains.parents(opts.itemEl);
        containsNot = containsNot.parents(opts.itemEl).hide();
      }

      if(val!=='' && val.length >= opts.minLength)
      {
        contains.show();
        containsNot.hide();

        if($.type(opts.sourceData)==='function')
        {
          contains.hide();
          containsNot.hide();
          
          if(callReq)
          {
            if($.isFunction(callReq.abort))
              callReq.abort();
            else if($.isFunction(callReq.stop))
              callReq.stop();
          }
          
          callReq = opts.sourceData.call(searchlist, val, function(data) {
            callReq = null;
            contains.hide();
            containsNot.hide();
            searchlist$.find('.'+opts.itemClassTmp).remove();
            

            if(!data || data.length===0)
              $( opts.emptyNode.call(searchlist) ).addClass(opts.itemClassTmp).appendTo(searchlist$);
            else
              for(var i in data)
                $( opts.sourceNode.call(searchlist, data[i]) ).addClass(opts.itemClassTmp).appendTo(searchlist$);
          });
        } 
        else {
                    searchlist$.find('.'+opts.itemClassTmp).remove();
                    
                    if(contains.length===0)
            $( opts.emptyNode.call(searchlist) ).addClass(opts.itemClassTmp).appendTo(searchlist$);
        }

      }
      else
      {
        contains.show();
        containsNot.show();
        searchlist$.find('.'+opts.itemClassTmp).remove();
      }
    }, opts.delay));

    if(opts.resetOnBlur)
      inputEl$.on('blur', function(e) {
        $(this).val('').trigger(opts.eventKey);
      });

    return searchlist$;
  };

})(jQuery);</script>
<style type="text/css">/* Base styles (regardless of theme) */
.bs-callout-notice {
  background-color: #FFCE9D;
  border-color: #FF9933;
}


.bs-callout-success {
  background-color: #CDD5D5;
  border-color: #2F4F4F;
}
/* Panels colors */
.panel-warning {
  background-color: #FFF9ED;
  border-color: #FFBD42;
}
.panel-warning .panel-heading {
  background-color: #FFBD42;
  border-color: #FFBD42;
}

.panel-rops {
  background-color: #FFFDE8;
  border-color: #D68330;
}
.panel-rops .panel-heading {
  background-color: #D68330;
  border-color: #D68330;
}

</style>

<style type="text/css">ul {
    list-style-position: inside;
}</style>
<div class="row">
          <ul class="col-md-2" id ="floatdiv">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  About
                </a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-book")+" Wiki", index_wiki_path ,class: 'list-group-item' %></a>     
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-info-sign")+" General info", index_about_path ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-cloud-upload")+" Upload Data", index_uploading_path ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-asterisk")+" Credits", index_credits_path ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-tasks")+" Changelog", index_changelog_path ,class: 'list-group-item' %></a>
              </div>
   <div class="bs-callout bs-callout-info" style="height:550px">
      <%= render 'ad.html.erb' %>
    </div>  
          </ul>
    <div class="col-lg-10">
        <div class="col-lg-9 text-center">
            <%= render "wiki_partials/#{if params[:page] then params[:page] else 'welcome' end}.html.erb"%>
        </div>
        <ul class="col-lg-3">
          <h2>Contents</h2>
              <form role="form">
                <div class="form-group">
                    <input id="searchinput" class="form-control" type="search" placeholder="Search..." />
                </div>
                <div id="searchlist" class="list-group">
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=welcome"><span>Welcome</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=raidops"><b><span>RaidOps addon</span></b></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsmain">&nbsp&nbsp&nbsp<span>Main window overview</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsimport">&nbsp&nbsp&nbsp<span>Importing members</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsass">&nbsp&nbsp&nbsp<span>Item assign</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsce">&nbsp&nbsp&nbsp<span>Custom events</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsepgpset">&nbsp&nbsp&nbsp<span>EPGP settings</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsalts">&nbsp&nbsp&nbsp<span>Alts</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropslogs">&nbsp&nbsp&nbsp<span>Logs</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsll">&nbsp&nbsp&nbsp<span>Loot Logs</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsdecay">&nbsp&nbsp&nbsp<span>Decay</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsexport">&nbsp&nbsp&nbsp<span>Export and Import</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsta">&nbsp&nbsp&nbsp<span>Timed awards</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=ropsundo">&nbsp&nbsp&nbsp<span>Undo</span></a>
                </div>
            </form>
            <script>
                $('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});
            </script>
          </ul>
      </div>
</div>
