<script type="text/javascript">  
    floatingMenu.add('floatdiv',  
        {    
            targetLeft: 10,  
            targetTop: 10,  
        });  
</script> 
<script type="text/javascript">
(function($) {
  $.fn.btsListFilter = function(inputEl, opts) {

    'use strict';
    
    var searchlist = this,
      searchlist$ = $(this),
      inputEl$ = $(inputEl),
      items$ = searchlist$,
      callData,
      callReq;  //last callData execution

    function tmpl(str, data) {
      return str.replace(/\{ *([\w_]+) *\}/g, function (str, key) {
        return data[key] || '';
      });
    }

    function debouncer(func, timeout) {
      var timeoutID;
      timeout = timeout || 300;
      return function () {
        var scope = this , args = arguments;
        clearTimeout( timeoutID );
        timeoutID = setTimeout( function () {
          func.apply( scope , Array.prototype.slice.call( args ) );
        }, timeout);
      };
    }

    opts = $.extend({
      delay: 300,
      minLength: 1,
      initial: true,
      casesensitive: false,
      eventKey: 'keyup',
      resetOnBlur: true,
      sourceData: null,
      sourceTmpl: '<a class="list-group-item" href="#"><span>{title}</span></a>',
      sourceNode: function(data) {
        return tmpl(opts.sourceTmpl, data);
      },
      emptyNode: function(data) {
        return '<a class="list-group-item well" href="#"><span>No Results</span></a>';
      },
      itemClassTmp: 'bts-dynamic-item',
      itemEl: '.list-group-item',
      itemChild: null,
      itemFilter: function(item, val) {
        //val = val.replace(new RegExp("^[.]$|[\[\]|()*]",'g'),'');
        //val = val.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
        val = val && val.replace(new RegExp("[({[^.$*+?\\\]})]","g"),'');
        
        var text = $(item).text(),
          i = opts.initial?'^':'',
          regSearch = new RegExp(i + val, opts.casesensitive?'':'i');
        return regSearch.test( text );
      }
    }, opts);   



    inputEl$.on(opts.eventKey, debouncer(function(e) {
      
      var val = $(this).val();

      if(opts.itemEl)
        items$ = searchlist$.find(opts.itemEl);

      if(opts.itemChild)
        items$ = items$.find(opts.itemChild);

      var contains = items$.filter(function(){
          return opts.itemFilter.call(searchlist, this, val);
        }),
        containsNot = items$.not(contains);

      if (opts.itemChild){
        contains = contains.parents(opts.itemEl);
        containsNot = containsNot.parents(opts.itemEl).hide();
      }

      if(val!=='' && val.length >= opts.minLength)
      {
        contains.show();
        containsNot.hide();

        if($.type(opts.sourceData)==='function')
        {
          contains.hide();
          containsNot.hide();
          
          if(callReq)
          {
            if($.isFunction(callReq.abort))
              callReq.abort();
            else if($.isFunction(callReq.stop))
              callReq.stop();
          }
          
          callReq = opts.sourceData.call(searchlist, val, function(data) {
            callReq = null;
            contains.hide();
            containsNot.hide();
            searchlist$.find('.'+opts.itemClassTmp).remove();
            

            if(!data || data.length===0)
              $( opts.emptyNode.call(searchlist) ).addClass(opts.itemClassTmp).appendTo(searchlist$);
            else
              for(var i in data)
                $( opts.sourceNode.call(searchlist, data[i]) ).addClass(opts.itemClassTmp).appendTo(searchlist$);
          });
        } 
        else {
                    searchlist$.find('.'+opts.itemClassTmp).remove();
                    
                    if(contains.length===0)
            $( opts.emptyNode.call(searchlist) ).addClass(opts.itemClassTmp).appendTo(searchlist$);
        }

      }
      else
      {
        contains.show();
        containsNot.show();
        searchlist$.find('.'+opts.itemClassTmp).remove();
      }
    }, opts.delay));

    if(opts.resetOnBlur)
      inputEl$.on('blur', function(e) {
        $(this).val('').trigger(opts.eventKey);
      });

    return searchlist$;
  };

})(jQuery);</script>
<style type="text/css">/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #FFE8A3;
  border-color: #FFBB00;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #4770BF;
}
.bs-callout-notice {
  background-color: #FFCE9D;
  border-color: #FF9933;
}
.bs-callout-feature {
  background-color: #ADEBEB;
  border-color: #33CCCC;
}

.bs-callout-success {
  background-color: #99EB99;
  border-color: #00CC00;
}
/* Panels colors */
.panel-warning {
  background-color: #FFF9ED;
  border-color: #FFBD42;
}
.panel-warning .panel-heading {
  background-color: #FFBD42;
  border-color: #FFBD42;
}

</style>
<div class="row">
          <ul class="col-md-2" id ="floatdiv">
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  About
                </a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-book")+" Wiki", index_wiki_path ,class: 'list-group-item' %></a>     
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-info-sign")+" General info", index_about_path ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-cloud-upload")+" Upload Data", index_uploading_path ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-asterisk")+" Credits", index_credits_path ,class: 'list-group-item' %></a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-tasks")+" Changelog", index_changelog_path ,class: 'list-group-item' %></a>
              </div>  
          </ul>
    <div class="col-lg-10">
        <div class="col-lg-9 text-center">
            <%= render "wiki_partials/#{if params[:page] then params[:page] else 'welcome' end}.html.erb"%>
        </div>
        <ul class="col-lg-3" id ="floatdiv">
          <h2>Contents</h2>
              <form role="form">
                <div class="form-group">

                    <input id="searchinput" class="form-control" type="search" placeholder="Search..." />
                </div>
                <div id="searchlist" class="list-group">
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=welcome"><span>Welcome</span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=raidops"><span><b>RaidOps addon</b></span></a>
                    <a class="list-group-item" href="<%= index_wiki_path %>/?page=cyan"><span>cyan</span></a>
                </div>
            </form>
            <script>
                $('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});
            </script>
          </ul>
      </div>
</div>
