<%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <div class="field">
    <%= f.input :email  %>
  </div>
<div class="field">
   <%= f.input :password %>
</div>
<div class="field">
   <%= f.input :password_confirmation %>
</div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-info' %>
  </div>
<% end %>
