<div class="container">
  <div align="center"><h1>Update <%= @member.name %></h1></div>
  <% if @guild.mode == "EPGP" %>
  <%= simple_form_for(@member,url: {controller: "guild_members", action: "change"}, method: "post", html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name , disabled: true %>
    <%= f.input :ep , :as => "integer"%>
    <%= f.input :gp , :as => "integer"%>
    <%= f.label :Class %>
    <%= f.select(:str_class,[['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']], {}, { :class => 'form-control' }) %>
    <%= f.label :Role %>
    <%= f.select(:str_role,[['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']], {}, { :class => 'form-control' }) %>
    <div align="center">
    <br><br>

    <%= f.button :submit , class: 'btn btn-info' %>
    </div>
  <% end %>
  <% else %>
  <%= simple_form_for(@member,url: {controller: "guild_members", action: "change"}, method: "post", html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name , disabled: true %>
    <%= f.input :net , :as => "integer"%>
    <%= f.label :Class %>
    <%= f.select(:str_class,[['Esper', 'Esper'], ['Warrior', 'Warrior'], ['Stalker', 'Stalker'], ['Engineer', 'Engineer'],['Medic', 'Medic'],['Spellslinger', 'Spellslinger']], {}, { :class => 'form-control' }) %>
    <%= f.label :Role %>
    <%= f.select(:str_role,[['Dps', 'DPS'], ['Heal', 'Heal'], ['Tank', 'Tank']], {}, { :class => 'form-control' }) %>
    <div align="center">
    <br><br>

    <%= f.button :submit , class: 'btn btn-info' %>
    </div>
  <% end %>


  <% end %>
</div>