
<head>

<style type="text/css">
  table.my-grid {
  }
  table.my-grid th.my-header {
    background-color: #ebebeb;
  }
  table.my-grid tr.even{
    background-color: #ebebeb;
  }
</style>
</head>

<div class="container-fixed">
     <div id="sidebar-wrapper">
          <ul class="col-md-2" id="floatdiv">
              <br><br>
              <br><br>
              <div class="list-group">
                <a href="#" class="list-group-item active fixed">
                  Controls
                
                </a>
                <a><%= link_to content_tag(:p , '' , :class => "glyphicon glyphicon-arrow-left")+" Back", guild_path(@guild) ,class: 'list-group-item' %></a>
                <div class="well">
                          <h1><%= @member.name %></h1>                              
                </div>
                <div class="panel panel-primary">
                   <div align="center">
                     <%=image_tag "Icon#{@member.str_class}.png" ,:height => "80px" , :width => "75px" if @member.str_class %>
                     <%=image_tag "#{@member.str_role}.png" ,:height => "75px" , :width => "75px" if @member.str_role %>
                   </div>
                </div>
                <div class="panel panel-primary">
                  <% if @guild.mode == "EPGP" %>
                    <div align="center"><h3><%= "EP : #{@member.ep}" %></h3> <h3><%="GP : #{@member.gp}" %></h3> <h2><%=content_tag(:u ,"PR : #{@member.pr}") %></h2></div>
                  <% else %>
                    <div align="center"><h2><%=content_tag(:u ,"Net : #{@member.net}") %></h2><h3><%= "Total : #{@member.tot}" %></h3> </div>
                  <% end %>
                </div>
              </div>  

              <div class="bs-callout bs-callout-info">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- UnderLeftControls -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2889093804964574"
         data-ad-slot="5647418646"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>

          </ul>
      </div>
    </div>


<div class="col-md-10">
<script> 
var wildstar_datminer_config = 
{
//language: 1: English, 2: Deutsch, 3: Francais
"language": 1, 

//Do you want to replace the name of the link?
"name_replace": false, 

//Do you want to show quality colors?
"color_show": false,

//Do you want to have an icon added?
"icon_replace": true

} </script>
<%= javascript_include_tag 'dataminer_tooltips.js' %>
<%= javascript_include_tag 'jabbithole_tooltips.js' %>
<script>JH_options = { colors: true, names: true, whitebg: true, preload: true, zIndex: null };</script>
  <h1> Items </h1>
  <%= grid(@items_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

      g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

      g.column name:  'Item name' do |item|
       link_to("", "http://wildstar.datminer.com/item/#{item.ingame_id}") + " " +  link_to(item.ingame_id, "http://www.jabbithole.com/items/i-#{item.ingame_id}")
      end

      g.column  name:  'GP', attribute: 'gp_cost' do |item|
        item.gp_cost
      end            

      g.column  name:  'Looted on' , attribute: 'timestamp' do |item|
        Time.at(item.timestamp.to_i).strftime('%d/%m/%Y , %T')        
      end
    end -%>

  <h1> Logs </h1>
  <%= grid(@logs_grid,html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

    g.blank_slate content_tag(:div, "No records found", class: 'alert alert-info')

      g.column name:  'Comment' , attribute: 'str_comment' do |log|
       log.str_comment
      end

      g.column  name:  'Type', attribute: 'strType' do |log|
        log.strType
      end            

      g.column  name:  'Modifier' , attribute: 'strModifier' do |log|
        log.strModifier
      end        

      g.column  name:  'After' , attribute: 'n_after' do |log|
        log.n_after
      end      

      g.column  name:  'Timestamp' , attribute: 'n_date' do |log|
        if log.n_date then Time.at(log.n_date.to_i).strftime('%d/%m/%Y , %T') else log.strTimestamp end
      end
    end -%>
</div>